services:
  - type: web
    name: urban-style-shop
    runtime: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_CHAT_ID
        sync: false
      - key: PROVIDER_TOKEN
        sync: false
      - key: WEBHOOK_URL
        sync: false
        key: PYTHON_VERSION
        value: "3.12.9"
